In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [3]:
# if you create data frame 

# weather_data={
#     'day':['1/1/2017','1/2/2017'],
#     'temp':[34,44],
#     'windspeed':[2,7],
#     'event': ['Rain','Sunny']
# }
# df=pd.DataFrame(weather_data)
# df

In [5]:
df.shape

(6, 4)

In [6]:
rows,columns=df.shape

In [7]:
rows

6

In [8]:
columns

4

In [14]:
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [17]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [19]:
df['event']

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          6 non-null      object
 1   temperature  6 non-null      int64
 2   windspeed    6 non-null      int64
 3   event        6 non-null      object
dtypes: int64(2), object(2)
memory usage: 324.0+ bytes

In [22]:
type(df['day'])

pandas.core.series.Series

In [26]:
df[['day','event','temperature']]

        day  event  temperature
0  1/1/2017   Rain           32
1  1/2/2017  Sunny           35
2  1/3/2017   Snow           28
3  1/4/2017   Snow           24
4  1/5/2017   Rain           32
5  1/6/2017  Sunny           31

In [28]:
df['temperature'].max()

35

In [35]:
df['temperature'].mean()

30.333333333333332

In [43]:
df[df['temperature']==df['temperature'].max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [46]:
df[df['temperature']==df['temperature'].max()]

        day  event
1  1/2/2017  Sunny

In [47]:
df[df['temperature']==df['temperature'].max()]['day']

1    1/2/2017
Name: day, dtype: object

In [48]:
df[df['temperature']==df['temperature'].max()][['day','event']]

        day  event
1  1/2/2017  Sunny

In [49]:
df[['day','event']][df.temperature==df['temperature'].max()]

        day  event
1  1/2/2017  Sunny

In [62]:
df['temperature'][df['temperature']>=30]

0    32
1    35
4    32
5    31
Name: temperature, dtype: int64

In [66]:
df[df['temperature']>30]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny