<div style="text-align: center; color: blue; font-size: 36px; font-weight: bold;">
    Readind, Writing Excel file
</div>

<div style=" color: red; font-size: 30px; font-weight: bold;">
    1)Read Excel<br>
    2)write Excel<br>
    
</div>

In [15]:
import pandas as pd

In [3]:
df=pd.read_excel('stock_data.xlsx','Sheet1')
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [7]:
def convert_people_cell(cell):
    if cell=='n.a.':
        return 'sonu patel'
    return cell
df=pd.read_excel('stock_data.xlsx','Sheet1',converters={
        'people':convert_people_cell
    })
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65     sonu patel
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [8]:
df.to_excel('new.xlsx')

In [12]:
# you want to write at specific rows and colums also give sheet name
df.to_excel('new.xlsx',sheet_name='stock',startrow=1,startcol=2)

In [14]:
# write 2 data frame in one file  differnt sheets
df_weather=pd.DataFrame({
    'day':['1/1/2025','2/1/2025','3/1/2025'],
    'temp':[20,45,67],
    'windspeed':[32,56,90],
    'event':['Rain','sunny','cloud']
})

df_stock=pd.DataFrame({
    'day':['WMT','MSFT','TATA'],
    'esp':[20,45,67],
    'revnue':[32,56,90],
    'people':['sonu','bill gates','ratan tata']
})

with pd.ExcelWriter('stock_wether.xlsx') as writer:
    df_weather.to_excel(writer,sheet_name='weather')
    df_stock.to_excel(writer,sheet_name='stock')